[2015-04-01 23:13] Arthaey opened #1 "Instructions for using gaps with an existing project"

[2015-04-02 01:19] danthareja commented on #1
Hey @Arthaey, could your clarify your question a bit? Do you mean an exiting project that you have already downloaded locally, and how to use gaps to manage it's upload?

[2015-04-02 01:37] Arthaey commented on #1
I already have a Google Apps Script project that I created via clicking on "Tools > Script Editor" from a Google Document. I'd like to put the script files of that existing project into Github.

So I haven't used gaps yet, I'd like to, but the current instructions only talk about creating a brand new project.

[2015-04-02 03:04] danthareja commented on #1
gaps is actually designed to work with existing Google Apps Script projects. The one caveat is that your project must be a "standalone" project, and not "bound" to a specific sheet (currently the Drive API does not support the download of bound projects). You'll know if your project is bound if you can only access it via "Tools > Script Editor". If you see your script in your main Drive folder, it

[2015-04-02 03:05] danthareja commented on #1
Also, thanks for reminding me about this limitation @Arthaey. I'll be sure to update the documentation to more clearly reflect this.

[2015-04-02 05:35] xguntis opened #2 "can't change type of existing file"
Thank you! Thank you! Thank you!

I needed this so badly to be able to do GIT version control for my GAS project. Previous version did not work for uploading. This time it works as expected!

Just one thing - for every file that is uploaded it says `can't change type of existing file`. Should it be ignored?

[code]

[2015-04-02 13:50] simbalsyd opened #3 "git and .manifest.json"
Hi

Your project is great and exactly what I have been looking for!

I have been trying to download a project and put it into git. Everything works fine but I have a problem with the file .manifest.json. It looks like git is adding \r .

Is the file .manifest.json supposed to be in the git or can it be ignored (in .gitinore).

Maybe you have a recommended way how to handle .manifest.json?

Thanks

[2015-04-02 15:16] danthareja commented on #3
Hey Anders! .manifest.json is only needed locally for gaps to work correctly. The easiest way to handle it is as you suggested to add it to .gitignore. Thanks for your issue, I'll make sure to update the document to make this best practice more clear.

[2015-04-02 15:55] danthareja commented on #2
Oh how interesting @xguntis. Can you confirm that your local changes are being accurately reflected in Google after uploading them? If you're getting these errors I would expect the upload not going through correctly.

[2015-04-03 02:04] danthareja commented on #3
I'm going to close this issue for now. If you feel like there's still some question left unanswered, please don't hesitate to open a new one! Thanks for the feedback @simbalsyd

[2015-04-03 02:04] #3 closed

[2015-04-05 15:20] xguntis commented on #2
Yes, I can confirm that changes are reflected accurately. Tested on one of the *.js files which i changed on my local drive, uploaded and the resulting *.gs file was also changed.

[2015-04-05 18:07] danthareja commented on #2
I'm not sure about this one right now. I'll keep this issue open while I look into it

[2015-04-15 18:39] gisellegk opened #5 "Initializing git repo causes gaps upload error"
Hi there,

I successfully ran `gaps download` and `gaps upload` on an existing project, then tried to `gaps upload` after initializing my local git repo. It's now throwing an "Unsupported file type found" error. I think it's because of the .git file, which is the only file that isn't .js or .html.

Am I missing something? I will try putting the directory in a parent and initialize that as a repo..

[2015-04-15 19:04] danthareja commented on #5
Ah, great find! Right now i've hardcoded which files to ignore as only .manifest.json right now. You have me thinking that it makes more sense to only include .js and .html files to export instead of trying to think of all the possible files to ignore. I'll work on a patch for this!

[2015-04-15 19:20] danthareja commented on #5
That should do it. I just republished it to npm as well, you'll have to give it a reinstall. Please let me know how it works for you.

[2015-04-15 20:01] gisellegk commented on #5
I uninstalled and reinstalled, and I'm still getting the same error:

[code]

I tried uninstalling and reinstalling again and I'm pretty sure this is the correct version.
`unbuild node-google-apps-script@0.1.2`

[2015-04-15 20:09] danthareja commented on #5
Shoot! I'll have to give this a more thorough look. I'll get back to this, sorry about the inconvenience

[2015-04-16 13:53] gisellegk commented on #5
Can you make sure the right version is published to npm? The manifestor file on my computer doesn't have your fix on it despite reinstall.

edit:  it works with local changes :)

[2015-04-16 16:01] xguntis commented on #2
you may close this now. It was generating errors when i was using gas, not gaps. Now following your instructions and everything works just wonderfull :)

[2015-04-16 16:01] #2 closed

[2015-04-16 18:10] danthareja commented on #2
Glad to hear!

[2015-04-16 18:38] danthareja commented on #5
Glad to hear it works with local changes! I just republished to npm, and when I downloaded it to test, manifestor was up to date.

Can you confirm things working on your end?

[2015-04-16 18:40] danthareja commented on #1
For the sake of maintenance, I'm closing this issue for now. Please reopen another one if you do have any further questions.

Thanks for your contribution!

[2015-04-16 18:40] #1 closed

[2015-04-16 19:14] gisellegk commented on #5
Yep, it's working for me too! Glad we got that sorted out. Thanks so much!

[2015-04-16 19:14] #5 closed

[2015-04-16 19:55] danthareja commented on #5
My pleasure. Thank you for your contribution!

[2015-04-29 23:11] danthareja opened #6 "login view"

[2015-04-29 23:13] danthareja opened #7 "logout view"

[2015-05-12 03:28] #7 closed

[2015-05-12 03:28] #6 closed

[2015-05-18 20:53] victorhaggqvist opened #8 "Can't download even though Authentication successful"
[code]

I'm on Arch Linux with
$ node --version && npm --version
v0.12.3
2.10.0

Let me know if I can provide any more info to help out.

[2015-05-19 05:38] danthareja commented on #8
How interesting. gaps stores a local config in `~/.gaps`. Can you check this file to see if there is a refresh_token property there? If not, can you try delete the file and run `gaps init` again?

[2015-05-25 21:15] dsernst opened #9 "Note on multiple Google logins"
I use multiple Google logins, for personal & work. When I clicked the link in Step 1:

It began configuring access for one of my accounts, but not the one I needed. This became clear later on when choosing my email address from the dropdown (3 sub-bullets later).

I was able to get around this issue by appending `&authuser=1` (it's 0-indexed) as an extra parameter to the link from the instructions

[2015-05-25 21:34] dsernst opened #10 "Error running init command { [Error: EISDIR... }"
After creating the API keys, downloading the JSON, running `gaps init`, and visiting the one-time authorization page, I pasted in the `?code=` parameter, as the README instructs. But I was given the following error:

`Error running init command { [Error: EISDIR, open '/Users/dsernst/.gaps'] errno: 28, code: 'EISDIR', path: '/Users/dsernst/.gaps' }`

It turns out we were thinking along similar line

[2015-05-26 14:48] danthareja commented on #9
Excellent detective work @dsernst. Time for some documentation updates

[2015-05-26 14:50] danthareja commented on #10
I totally agree, the file storage is quite obfuscated right now. Thanks for your thorough description of the problem!

[2015-05-27 18:25] victorhaggqvist commented on #8
My bad, missed the notification of your reply.

There seem to be no `refresh_token`.

Tried once again today, no luck.

[code]

[2015-06-04 16:21] fsrc opened #11 "Error code 400 when pushing"
I'have successfully cloned, added files and pushed them. Now when I try to update existing files i get this:

    Pushing /home/fredrik/src/CRM-Data back up to Google Drive...
    Error running upload command { [Error: Bad Request]
      code: 400,
      errors:
       [ { domain: 'global',
           reason: 'badRequest',
           message: 'Bad Request' } ] }

Just ask if you need more informat

[2015-06-11 12:14] szaboadorian commented on #8
Hello,

I have the same issue, but on my side I managed to track it down: as stated here https://developers.google.com/identity/protocols/OAuth2WebServer - when access_type="offline", "This will result in your application obtaining a refresh token the first time your application exchanges an authorization code for a user.".

As the refresh token is passed only first time, I assume this is the seco

[2015-06-11 13:16] szaboadorian opened #13 "Downloading container bound projects"
Hi,

I know about the limitation specified in the documentation regarding container bound "scripts" (not projects) https://developers.google.com/apps-script/import-export, but actually the download of the project files of an cotainer bound project is actually working.

The current implementation fails to fetch the project files of such a project because the getProjectTitle() method from download.j

[2015-06-11 17:13] danthareja commented on #8
Great find @szaboadorian, I had totally forgotten about the `approval_prompt` property. I'll fix this in the next patch

[2015-06-11 17:18] danthareja commented on #8
@victorhaggqvist can you confirm this works?

[2015-06-11 17:26] danthareja commented on #13
@szaboadorian can you clarify your distinction between "script" and "project" here?

Am I correct in understanding that you'd like the ability to download the Google Apps file that a given script is bound to? (i.e. a Google Sheet that has an Apps Script project bound to it)

[2015-06-12 07:25] szaboadorian commented on #13
To be more explicit:

I have a Google Sheet with a Project holding several .gs scripts for it (Project is only accessible via Tools -> Script Editor within the Sheet - so it is a "Container Bound" project).

In the https://developers.google.com/apps-script/import-export documentation is stated "Note that the file ID of a project is not the same as the project key. The file ID is the alphanumeric s

[2015-06-13 01:03] danthareja commented on #13
Thanks for the detailed clarification. I didn't know you could download via Project Key, that's really interesting!

I'm not totally comfortable implementing a potentially deprecated (or even worse, completely unknown) endpoint. Without official support or documentation, this workaround could break at any time. Additionally, I'm not sure how useful it is without the upload side.

Really interestin

[2015-06-13 01:03] #13 closed

[2015-06-25 18:50] shrugs commented on #11
Could be an issue with state being out of sync. To fix, download the remote project to a separate directory, overwrite your local manifest with the one, and then upload again.

Alternatively it could be a syntax error in the server-side code.

[2015-07-19 12:41] retorquere opened #16 "Upload project fails"
I've been able to init and download, but upload fails. I've tried `gaps upload` both in my git project and in the subdirectory in it that has the GAS scripts. If I try in the git directory, I get:

[code]

if I try in the GAS subdir created by the download action, I get

[code]

[2015-07-20 03:10] danthareja commented on #16
This seems like a node issue, `path.parse` was introduced in v0.12. What version are you running? You can check with `node -v`

[2015-07-20 05:40] retorquere commented on #16
Ah, that was it, I was still on 0.10, Ubuntu lags terribly behind. I've
upgraded, and the problem went away.
On Jul 20, 2015 05:10, "Dan Thareja" notifications@github.com wrote:

[2015-07-20 16:25] danthareja commented on #16
Excellent!

[2015-07-20 16:25] #16 closed

[2015-09-11 11:49] shockone opened #17 "gaps download invalid_string should return an error"
I accidentally copied an incorrect ID, and it executed seemingly successful, but there was no files. It took me some time to figure out what was the cause. If the script returned an error, I'd know it immediately.

[2015-09-12 19:49] danthareja commented on #17
Great idea!

[2015-09-12 19:51] #8 closed

[2015-10-15 01:27] thinkle opened #18 "Trouble authenticating with client_secret.json"
I'm having trouble successfully authenticating.

My first problem I think is that I'd set the project type to web application and therefore my JSON file had no redirect URL:

Here's the error output there:
$ gaps init /home/tom/client_secret.json

/usr/local/lib/node_modules/node-google-apps-script/lib/commands/init.js:34
    auth.redirect_uri = credentials.web.redirect_uris[0];

[2015-10-15 01:34] thinkle commented on #18
Just confirmed the credentials are valid -- was able to use same credentials to log in with gdcmdtools...

[2015-10-15 04:07] lucasconstantino commented on #18
Hello,

Just had the same problem. Solved it by fulfiling the "Authorized redirect URIs", on the OAuth Client ID configuration page, with the value *http://localhost/callback".

This redirect is only a callback page to which OAuth will send the user upon authorization for the App. It's basically where the user goes to after authorization, and is send with a query string suffix containg the authori

[2015-10-30 06:52] danthareja commented on #9
Addressed in v1.0

[2015-10-30 06:52] #9 closed

[2015-10-30 06:53] danthareja commented on #10
Addressed in v1.0. Thanks!

[2015-10-30 06:53] #10 closed

[2015-10-30 20:21] dsernst commented on #9
:+1:

[2015-10-31 18:22] JCarran0 opened #19 "Can no longer 'download' files"
It seems like you've removed the ability to pull files down from the Apps Script project to a local directory.  You used to have a download terminal command, which is no longer working for me.  Is this still possible?

[2015-10-31 20:39] danthareja commented on #19
Yes! This was removed because it conflicts with some new ideas of the project. The current version is designed to facilitate local development from the beginning of a new Apps Script project. By starting with `gapps init`, your local directory is now the source of truth for your project. This makes version control easy because you can push the same directory to the Apps Script servers as well as y

[2015-10-31 22:05] danthareja commented on #19
After looking into it a bit more, it would be pretty easy to download the current state of the project during the `gapps init` stage.

Would this solution work for you @JCarran0?

[2015-10-31 22:42] danthareja commented on #11
I'm triaging old issues with the new release of 1.0.0. I'm closing this for now (there are some possible reasons for the 400 error in the README), if it comes up again please open a new issue

[2015-10-31 22:42] #11 closed

[2015-10-31 22:42] danthareja commented on #18
I'm triaging old issues with the release of 1.0.0. The auth process has been completely overhauled. If this is still a problem, please open a new issue.

[2015-10-31 22:42] #18 closed

[2015-10-31 22:43] danthareja commented on #17
A more helpful error message has been added in 1.0.0. Thanks!

[2015-10-31 22:43] #17 closed

[2015-11-01 00:00] danthareja commented on #19
Just pushed v1.1.0 that addresses this. Now when you run `gapps init <fileId>`, any files currently existing in the project will be downloaded to the subdirectory created by init.

[2015-11-01 16:00] carlsaturnino opened #20 "Unexpected identifier error"
I got a syntax error when trying to run `gapps atuh <client.*.json>`

[code]

Also, got the same error in https://tonicdev.com/npm/node-google-apps-script.

[2015-11-01 16:24] JCarran0 commented on #19
@danthareja Yes, this would meet my needs!  I'm interested in getting many existing projects up on GitHub and this would enable that.  Awesome tool!  Thanks!

[2015-11-01 17:42] danthareja commented on #19
Glad to hear it! Let me know if you have any problems with the new init flow :)

[2015-11-01 17:42] #19 closed

[2015-11-01 17:44] danthareja commented on #20
Oof, that's embarassing. I'll fix this in a hot second. Maybe it's time for those unit tests I keep thinking about...

[2015-11-01 17:45] #20 closed

[2015-11-01 20:39] JCarran0 opened #21 ""Google Drive returned a fatal error" when running upload"
I'm not able to run the upload for my project.  I successfully pulled down an existing (and working) project via gapps init, and when I immediately try to run the upload without changing any files I get the following error:

Google Drive returned a fatal error.
Error running upload command

My .gapps file looks correct, I have all necessary libraries added to the project, and running eslint on the

[2015-11-02 02:09] danthareja commented on #21
Hmm, these errors are always tricky to track down. Let me look into it a bit.

[2015-11-02 13:42] hess-g commented on #21
I  got that when I initially loaded the new version, as I was using a new Google developer console project, and hadn't enabled the Drive API.

Another scenario could be that you are uploading an empty file - you have to have at least one line with a  "//" comment if you want to upload a placeholder file; a single JavaDoc line will still throw the error.

That error also shows up if one of your fil

[2015-11-02 14:29] JCarran0 commented on #21
I believe Drive API is correctly enabled.  It's not an empty file as it's an existing project with multiple files.  It can't be a syntax error because it passes the lining, but also because it's an existing project that runs fine from the Apps Script web interface.

@danthareja  I can share my project if that helps with trouble shooting.

[2015-11-02 18:27] hess-g commented on #21
I found a minor fix that was needed after the latest merge. PR coming...

[2015-11-02 18:40] hess-g commented on #21
PR #22 is out. I'll let Dan review and merge.

[2015-11-03 16:51] danthareja commented on #21
Just merged it in. @JCarran0 can you install `v1.1.3` and confirm that your issue is fixed?

[2015-11-03 17:31] JCarran0 commented on #21
Yes, it seems to be working correctly now!  Thanks @hess-g and @danthareja

[2015-11-03 17:36] danthareja commented on #21
Cheers!

[2015-11-03 17:36] #21 closed

[2015-11-22 19:47] goose2460 opened #24 "Error occurred while running upload command: null"
I get this error when attempting to upload my changes.

<img width="568" alt="screen shot 2015-11-22 at 2 46 23 pm" src="https://cloud.githubusercontent.com/assets/2341305/11325885/ee58aabe-9127-11e5-9bc9-35c3f31a7e5a.png">

Not very helpful, any ideas?

[2015-11-22 22:48] danthareja commented on #24
Hmm, not helpful indeed. That error occurs when the request to Google Drive fails and could happen for many reasons.

Can you try reproducing the same error with another project? If that doesn't work, more information about this particular error might help. Right now I'm only logging the `message` property on the `error` object that comes back from google. Do you feel comfortable editing your loca

[2015-11-22 22:56] davisg123 commented on #24
Logging the entire error object also gives null.  I'll keep investigating.

[2015-11-23 01:04] danthareja commented on #24
Sorry these ones can be really tricky to track down. Maybe try re-authenticating?

Please do let me know if you find anything more

[2015-11-25 00:06] davisg123 commented on #24
Figured it out. I wasn't using a standalone script, it was attached to a spreadsheet.

[2015-11-25 00:06] #24 closed

[2015-11-26 17:24] danthareja commented on #24
Oh, excellent!

[2015-11-28 14:41] huan commented on #24
it seems it's because some bug inside google-api-nodejs-client . I opened a issue over there.

[2015-12-14 15:40] ZocaLoans opened #25 "Error on gapps push"
I get the following error when trying to gapps push:

[code]

[2015-12-14 15:48] ZocaLoans commented on #25
Never mind. Saw this address in a closed ticket.

[2015-12-14 15:48] #25 closed

[2015-12-18 09:14] medric opened #26 "Auto-completion"
Hello,

I just wanted to know if there were a way to get an auto-completion system (for API methods etc.), as the one you can get on the online editor, when you develop on your local IDE or text editor.

Thank you.

[2015-12-18 14:11] hess-g commented on #26
There is currently no public API that exposes that metadata. However, the Apps Script team has that feature on our backlog.

[2015-12-18 16:25] danthareja commented on #26
Yeah unfortunately this is a limitation of the Google Drive API right now. If it ever gets implemented, I'll happily add it to gapps.

[2015-12-18 16:25] #26 closed

[2015-12-19 11:09] medric commented on #26
Ok, thank you for your answers. Another idea would be to implement a provider for Atom using the autocomplete-plus API. So this would be restricted to Atom, and would have to be done from scratch. I think i'll have a look at it.

[2015-12-19 13:39] danthareja commented on #26
That would be great @medric! I'm excited to see what you come up with :smile:

[2016-01-06 08:25] cjs-cynic-net opened #27 "Lack of "download" Command"
(Note: I believe that what I'm looking for here is not at all the same thing as #19, in particular because I'm looking for functionality that is not the same as the 'clone' command.)

Let me start by saying that I agree that, generally, the git repo should be the authoritative source of the code for a GAS project.

However, I'd like to be able to check that, when I have checked out what is suppose

[2016-01-06 09:58] 0cjs commented on #27
I've submitted a pull request with a fix for this:
https://github.com/danthareja/node-google-apps-script/pull/28

I suspect the coding style is, er, "sub-optimal" because I barely know JS/node/Promise/etc. from my arse, but I'm happy to get advice on making it more acceptable. Best thing is to poke me via text chat; see the URL in my profile for contact information.

[2016-01-07 18:49] danthareja commented on #27
Hey @cjs-cynic-net thanks for your issue and PR. I'll be reviewing it soon!

[2016-01-15 20:27] oshliaer opened #29 "Change path to credentials file"
Hi!
- How to change path to credentials file?
- Is there the best way to override `defaults.STORAGE_FILE` [there](https://github.com/danthareja/node-google-apps-script/blob/master/lib/defaults.js#L3) ?

I work with local installations. I can not use the% USERPATH%.

Your apps is great & helpful. Thanks.

[2016-01-17 03:59] 0cjs commented on #27
I just wanted to check where we stand on this. Have you had a chance to review it yet?

It would be convenient for me if this could get pulled in to the master branch and released at some point in the not-too-distant future, as it would make it easier to integrate comparison of the server copy and local copy in to my build scripts.

[2016-01-19 08:12] willpatera commented on #29
My question overlaps with @oshliaer's first two bullet points.

For example, if a developer is working on two (or more) projects simultaneously and wants to be able `gapps auth` without having to delete `~/.gapps` -- what would be the best workflow?

[2016-01-19 12:37] hess-g commented on #29
If you are working on multiple projects under the same user account, then you only have to do the auth process once. If you are doing simultaneous projects under different user accounts, then you have to have an OAuth authorization for each, which isn't currently supported (but could be investigated).

As for the path issue, auth is _supposed_ to be global; i.e. the -g install can take advantage o

[2016-01-19 14:04] willpatera commented on #29
Hi @hess-g - any ideas about how to support simultaneous projects under different user accounts?

[2016-01-19 14:29] hess-g commented on #29
That's tricky. Neither of the two possible execution contexts (global install, or local install / "require" use in a node task runner) have access to your "intended" user ID. I'll have to don the thinking cap for a bit on this one...

As you noted above, the workaround today (worst case, I know) is that you have to do the process auth before you start working against a particular project context.

[2016-01-19 16:13] danthareja commented on #27
Sorry about the delay on this one. This is an interesting proposition for the download command, but I'm not 100% convinced yet that this functionality is the responsibility of the `gapps` tool. If you push to version control every time you run `gapps upload`, there should never be any diff. This could be handled by including `gapps upload` as a pre-commit hook or any step of a modern tooling chain

[2016-01-19 18:36] oshliaer commented on #29
Ok. Let me explain the goal.

My npm-instalation is `--save-dev` locally. I have to push code on behalf of the various accounts (Consumer and Google Apps). Now I'm not doing rocket. I simply override a line of [code](https://github.com/danthareja/node-google-apps-script/blob/master/lib/defaults.js#L10). I set `return 'PROJECT_PATH'` It works perfectly.

But I like to use `npm`. There is an example

[2016-01-19 18:52] hess-g commented on #29
That looks good. Can you submit a PR with that change?

[2016-01-19 19:42] oshliaer commented on #29
@hess-g , I can do it. My fears are that I'm using `npm run`. Do you think it's a good habit? I'm not very familiar with the rules of decency in open source.

[2016-01-19 19:50] hess-g commented on #29
Yeah, I see that now. The main challenge is that, whatever the implementation, it needs to support both the run-style (command line exec of gapps) and node js (var x = require("node-google-apps-script"). Some more thinking is needed here...but your gist did spark some ideas.

[2016-01-21 00:53] 0cjs commented on #27
There are two major problems with your reasoning.

First,

There are simply too many different ways for things to go wrong with this to say, "I'm not going to support checking for errors." Not only might there be synchronisation issues between different copies of the repo on different machines, but the code on Google itself can easily be changed without going through the repo at all.

Your approac

[2016-01-21 02:49] 0cjs commented on #29
Here are my thoughts on the matter.
1. The `.gapps` file with a JSON data structure in it is the right way to store authentication information.
2. `.gapps` is in the right place (`$HOME`) on Unix. On Windows, it's probably in the right place, though I could see someone making an argument that `%APPDATA%/Roaming` or whatever should be used instead. (That's really something for the Windows experts.)

[2016-01-21 02:51] 0cjs opened #30 "Project Needs Automated Test Framework"
The project should have an automated test framework that gives at least basic coverage, if if it can't be perfect. This will both help reduce tedious manual testing and make it easier for new developers to contribute.

As a side note, introducing automated testing in projects not originally designed for it typically introduces major structural changes to accommodate the extra functionality needed

[2016-01-21 12:48] hess-g commented on #27
(disclaimer - I authored the "Advanced Development..." post referenced above).

_On > n Apps Script projects_: The [sample that was authored for the post](https://github.com/google/google-apps-script-samples/tree/master/import_export_development) does in fact demonstrate how multiple Apps Script projects can be used with this tool. The simplicity of the tool allows a development team to decide jus

[2016-01-23 05:34] 0cjs commented on #27
Re _> n Apps Script projects_: I agree we definitely want the flexibility for developers to choose their own structure for handling multiple scripts projects, I think that it's a frequent enough occurrence (given that it's recommended practice) that putting some common code to help deal with this in gapps itself is a good idea. Without that, everybody's going to be rewriting similar code, with all

[2016-01-24 00:00] danthareja commented on #27
Hey @cjs-cynic-net, I really appreciate your input here. To be totally transparent, this tool was initially developed for my own personal use at work, and has reached a wider audience with the help of @hess-g. My initial pushback arose because I don't use this tool in a large team setting, and I don't think I'll ever be the authority on the issues you're experiencing.

I do agree with many of your

[2016-01-24 03:29] 0cjs commented on #24
If I understand correctly what the issue was here, it's not precisely a bug as much as a missing feature on the Google side: they make it quite clear that the API can only be used to access Apps Script projects, and that bound code in other types of documents is entirely inaccessible.

It also seems that this may indicate a bug in gapps where it doesn't check the MIME type of the document before i

[2016-01-30 07:01] 0cjs commented on #30
There's both a unit test and functional test framework in PR #28. It's mixed in with other changes, though; if you don't want them all you'll have to pick out the bits you want.

[2016-02-04 09:23] oshliaer opened #31 "A Wiki page 'An error occured while running upload command: Bad Request'"
I would like to create a wiki page regards an issue. _Should I do it?_
The draft of page below.

Some times you can catch `An error occured while running upload command`
[code]

Here is the error object
[code]

This can happen because that is checked code syntax when uploading files. Try _to check syntax_ your code locally.

[2016-02-14 00:38] lastobelus opened #32 "Is there a way to automate `Publish>Deploy as API executable...`"
Currently when working on REST script execution targets, after running `gulp upload-latest --env dev` I have to go to the script project in a browser and run `Publish>Deploy as API executable...`, and name the version.

Is there any way to automate this as part of pushing the code up?

[2016-02-14 08:11] oshliaer commented on #32
Is there an API for this?

[2016-02-15 21:38] peterherrmann commented on #32
There was but it was [deprecated](https://developers.google.com/apps-script/reference/script/service#enable%28Service.Restriction%29). There is no API for this currently.

[2016-02-18 00:53] dandv opened #33 "Clarify bound script limitations"
Currently, it reads:

and tested within Doc or Sheet. This means that it cannot use certain functions of [bound scripts](https://developers.google.com/apps-script/guides/bound), namely installable triggers. While testing within a Doc, you have access to the
"Special methods" mentioned in [the docs](https://developers.google.com/apps-script/guides/bound), though. If
you followed the quickstart abov

[2016-02-18 01:51] 0cjs commented on #33
An Add-on is always a "standalone" script, i.e., the code is in its own Script document rather than part of a Spreadsheet document or whatever. An Add-on is attached to a document in one of two ways: a) via  the testing interface, or b) via publishing it, a user adding the Add-on to his personal list, and then using it in a document.

In each case, the script has access to the "special methods" me

[2016-02-18 12:44] hess-g commented on #33
A clarification - It is _possible_ to publish an Apps Script project as an add-on even if that Apps Script project is container bound (created from and associated with a document or spreadsheet). It is recommended, however, that you use a standalone script. In that case, during development you can use the "Publish --> Test as add-on" feature in the script editor to mimic the installed behavior. On

[2016-02-18 12:56] hess-g commented on #33
If you want to test or debug your host-interaction functions, ones that would depend on active host methods like "SpreadsheetApp.getActiveSpreadsheet", you can look at some very simple code I included with my post on development techniques. For example, I included a helper method that provides the right instance of the active spreadsheet - If you have configured an ID in your code, it opens that f

[2016-02-29 22:13] jamespetersen opened #34 "upload command error: null"
Trying to push local changes up to the stand-alone drive file, but encountering this error:

Pushing back up to Google Drive...
An error occured while running upload command: null
Upload failed.

This happens on both my mac and PC. I have deleted the auth .json file and re-authorized. It will init the project without any issue, but can't seem to push back up to drive.

Any help would be greatly ap

[2016-02-29 22:22] oshliaer commented on #34
@jamespetersen How to the other projects (stand-alone drive file)?

[2016-02-29 22:29] hess-g commented on #34
A couple things to troubleshoot. The following are scenarios where the Drive API throws a 500 error:
- _Empty files_; even though you can save an empty file in the Apps Script script editor.
- _Simple syntax errors_. Simple things (missing brackets, semicolons, etc.) you can catch with a linter.
- _Apps Script object syntax errors_. Then you are left with possible errors in method calls to Apps Sc

[2016-03-01 15:49] jamespetersen commented on #34
I'm confident that I'm not encountering those errors. This error occurs when I initialize the project successfully (create a local copy of the project), then immediately try to push. There are no empty files, no syntax errors that I've added (since I'm not actually modifying the files in any way after init), and there are no syntax errors apparent, as I can save the project in Drive.

Where else s

[2016-03-01 16:31] oshliaer commented on #34
@jamespetersen , could you share an example? a project?

[2016-03-01 21:02] jamespetersen commented on #34
I've created a new project to demonstrate. It's called dummyProject, and contains the following code inside code.gs:

[code]

I've run the function, and authorized the script. gapps init works fine, but gapps upload gives me the same error. Again, I haven't made any local changes to the file. Within the same terminal instance, I'm trying to execute the command. I've tried it both with and without

[2016-03-02 06:24] 0cjs commented on #34
We really should be logging the details of errors in a log file, the way
npm does.

[2016-03-02 10:15] jamespetersen commented on #34
Is there a way to get more detailed error info, such as through npm?

[2016-03-02 12:31] oshliaer commented on #34
`Meo52ftjAOMvr_wMuEiyKJswyeDNcnCYg` is project ID. You have to use file ID for node-google-apps-script https://github.com/danthareja/node-google-apps-script#31-an-existing-apps-script-project

[2016-03-05 14:58] jamespetersen commented on #34
That fixed it! Thanks @oshliaer

[2016-03-05 14:58] #34 closed

[2016-03-07 18:59] hess-g commented on #32
Actually, that deprecated method doesn't relate to the API Executable.

Currently, there are no APIs for any of the functions that you need to perform in the script editor, such as publishing (web apps, add-ons, API executables).

[2016-03-08 00:50] peterherrmann commented on #32
You're correct of course. My comment referenced `Publish>Deploy as web app...` and the OP asked about `Publish>Deploy as API executable...`.

[2016-03-27 23:57] bline opened #36 "push fails"
We are working with Google Apps Script for non-profit business. I believe it's different that the regular google apps.

With the current gapps code, I can pull projects but push always shows Upload Failed because of File Not Found.

Have you heard of this issue? Looking for a work-a-around if possible.

Thanks!

[2016-03-28 00:23] hess-g commented on #36
It sounds like you are using container-bound scripts - Scripts that were created by opening the Script Editor from a Sheets or Docs file. The Google Drive API currently only supports standalone scripts - Scripts created from and opened in the Apps Script Google Drive app.

If there is no affinity to the actual sheet or doc, you can copy your code to a new standalone script, and then gapps will wor

[2016-03-29 00:38] bline commented on #36
Thank you, that is indeed the case. However, I now get
An error occured while running upload command: Bad Request
Upload failed.

[2016-03-29 00:55] bline commented on #36
So it did seem to upload some files. Of 13 files, 4 files were sent. Running it over and over doesn't add more files.

I ran into this type of thing trying to sync a list page from a spreadsheet to google sites. Same error too. I think they may throttle non-profits requests and just give an error, seems pretty lame to me.

I'll dig deeper and see if there is a way to do an incremental sync.

[2016-03-29 02:06] hess-g commented on #36
There are a few other things that could cause the bad request response. It typically is either badly formatted code (e.g. code that would trigger a failure when trying to save in the Script Editor), or a totally empty file (you can save those in the Script Editor, but not via the API). I recommend running your code through jslint or the like prior to upload, to see if there are any egregious codin

[2016-03-29 05:26] oshliaer commented on #36
@bline
A tip. You could upload a part of the files. Be careful if you're updating existing files.

[2016-05-04 08:18] #31 closed

[2016-05-25 05:09] stmcallister opened #37 "gapps auth doesn't allow multiple projects"
I noticed that when I tried to auth a second AppsScript project I was given the message that the ~/.gapps file already existed, and that I needed to remove it so that I could authenticate the connection with the current project.

Is there a reason why we couldn't move the .gapps file to the project root rather than the machine's user directory? That way we could authenticate multiple gapps project

[2016-05-25 12:39] oshliaer commented on #37
- You don't need to oauth twice. Or
- If you have to separate your oauth for multiple users (not projects) you could look at #29 and [An idea for the overwrite .gapps file path](https://gist.github.com/oshliaer/16886a0398b284dd776f)

[2016-05-25 23:02] stmcallister commented on #37
Ah, thank you for that clarification. I thought it was by project, but you're right. It's by account. I'll checkout  the idea for overwriting .gapps file path. Thanks!

[2016-05-25 23:02] #37 closed

[2016-06-18 22:06] orenyny commented on #18
@lucasconstantino Thanks for the tip. It helped me understand that I did not create the credentials correctly (the instructions are not so clear), but thanks to you I corrected it. Thanks!

[2016-06-26 10:28] Moradnejad commented on #11
it's because of "Content Security Policy" of the response.

[2016-07-05 17:48] rafaelalemar opened #38 "Rejecting file ID on `gapps init` when ID begins with M"
You guys have committed a version that block gapps innit when ID begins with M, but all my bounded scripts starts with M. I know I can't push code to bounded scripts, but I could pull it. I used to backup my bounded scripts this way. Any work around?

[2016-07-06 02:43] hess-g commented on #38
Rafael - The "m" ID is the project key. You need to use the Drive File ID
for the script, which begins with a "1", and can be obtained from the URL
when you open the script editor from your bound script.

On Tue, Jul 5, 2016 at 1:48 PM, Rafael Vidal notifications@github.com
wrote:

[2016-07-09 05:51] oshliaer commented on #38
The `eval` could help for this.
- Copy the [example](https://docs.google.com/spreadsheets/d/1nleri9TedljONIHuKCj3RbrWBGw5SVvb1YW9nDuR-Wc/copy)
- Get the [source](https://script.google.com/macros/s/AKfycbzXMlbXwYFfAE5t_YEGXKAxuN-uLck9hmXQLlVgB_cIblaDtWaJ/exec)

## Code.gs

[code]

## source.html

[code]

[2016-07-09 16:40] rafaelalemar commented on #38
@hess-g Thanks for the quick reply. My old bound script file ID all start with M. I just created a new spreadsheet and open the script editor to confirm the file ID starts with 1. But my old ones still start with M and the project key starts with 1. So, I pick up the project key and it worked...

@oshliaer Your script would give me the spreadsheet id, not the script ID.

[2016-07-09 16:40] #38 closed

[2016-07-13 18:28] WhiteHotLoveTiger opened #39 "gapps auth not finding variable tokens"
Whe  I run `gapps auth`, it gives me a url, I go to the google page, click to allow permissions, and then get an error in the console:

[code]

My client_secret_blahblah.json looks like this:
`{"installed":{"client_id":"123456-qwerty987654321.apps.googleusercontent.com","project_id":"project-id-2468101214","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://accounts.google.

[2016-07-22 15:01] WhiteHotLoveTiger commented on #39
https://youtu.be/OBwS66EBUcY

[2016-08-10 15:04] jacktaylor418 opened #40 "gapps init causes syntax error if response body is not JSON"
I got a syntax error from the command `gapps init 123...xyz` (with "123...xyz" substituted by my real project ID). Here's the error:

[code]

After some digging, I found that JSON.parse in [line 79 of manifestor.js](https://github.com/danthareja/node-google-apps-script/blob/master/lib/manifestor.js#L79) was expecting JSON but actually received an HTML page. The HTML page was one saying "You need p

[2016-08-31 18:22] lastobelus commented on #32
Is this still true? Constantly having to navigate the `Publish>Deploy as API executable...` interface really makes working on google app scripts a drag.

[2016-09-01 22:40] z-nut commented on #27
I would greatly appreciate if the first pull request that fixes this issue was merged in and released. I have no interest in all the testing, but it would be a huge help to be able to download any changes I make via the web to my own machine after initializing.

[2016-09-28 19:38] WhiteHotLoveTiger commented on #39
Turns out my problem was occurring because I was behind a proxy. I used a connection outside of my proxy to do the initial authorisation (cell phone hotspot), and now that I'm set up, I can run `gapps upload` from behind the proxy using the standard unix command line proxy export in my `/etc/profile`:

[code]

[2016-09-28 19:38] #39 closed

[2016-10-09 19:25] lohals opened #43 "Upload/push fails "File not found: [Script Id]"
I have installed node-google-apps-script and have followed the guide for setting up drive API access and Oauth client authentication. Everything has worked like a charm and have done "gapps init <scriptId>" on several of my script projects, all code files in a project is downloaded as expected. A gapps.config.json is also created.

However, doing a "gapps upload" always fails with:
An error occure

[2016-10-09 19:34] lohals commented on #43
The problem was that the script resided in a website. Tried to move it to google drive, and now push works.

[2016-10-09 19:34] #43 closed

[2016-10-24 16:14] gunar commented on #32
Related issue in Google Code: [API to deploy google apps script as WebApp](https://code.google.com/p/google-apps-script-issues/issues/detail?id=6149). But no answer from Google yet.

[2016-10-25 15:26] shabegom commented on #32
Don't actually know if this is helpful for your use case but I have `devMode: true` set and it allows the remote execution API to run the latest version of the script without republishing. It only does this for the developer, not users so is only good for testing.

[code]

[2016-10-25 16:11] gunar opened #44 "API for gapps (using it programmatically)"
Is there a way to use gapps as a JS-library instead of using the CLI? Thank you!

[2016-10-25 17:16] gunar commented on #44
I _think_ there's a way to since `index.js` exports the commands. Perhaps only docs are missing?

[code]

I'm investigating further...

[2016-10-25 20:03] gunar commented on #44
So it works but it's a bummer that the commands themselves do `console.log`s, instead of just [propagating errors](https://github.com/danthareja/node-google-apps-script/blob/master/bin/gapps).

[2016-11-17 18:22] georgeh commented on #40
I had this issue - I had created my project with the wrong Google account. I fixed it by sharing the project with the correct account.

[2016-11-29 08:46] jruusu commented on #29
Created for my own deployment tooling needs, minimal multi-env support: PR #48

[2016-11-30 17:54] oshliaer opened #49 "gapps auth [options] <path/to/client/secret.json> is not recognized"
`gapps auth [options] <path/to/client/secret.json>` is not recognized. Instead you should use `gapps auth <path/to/client/secret.json> [options]`

Just the example:

#### There is the error
[code]

#### All is fine
[code]

[2017-01-13 00:13] thanatos opened #50 "gapps upload fails if .html and .js/.gs files collide on either side"
First, Apps Script appears to not allow two files differing only in `.gs` and .`html` extensions. The Apps Script UI itself handles this really poorly: if you attempt to create a `Foo.html`, and you already have a `Foo.gs`, the request to have `Foo.html` created will silently fail, with no error messages.

`gapps upload` also fails if you try to upload both a `Foo.js` and `Foo.html`; I'm okay lump

[2017-01-13 17:34] oshliaer commented on #50
@thanatos
The native editor also fails when you add same file names. Without errors.
As far as I know, Drive API for Script Files usually returns not `200OK` while an error.

[2017-02-07 23:17] techjeffharris opened #52 "Feature Brainstorm: support duplicate filenames when in separate directories"
Here's my brainstorm of a solution to the enable duplicate filenames when in separate local directories:

Say we add a couple keys to `gapps.config.json`

* `"enable_dirs" : false`, and
* `"seperator_placeholder" : "_"`

then create a flag for the `upload`/`push` commands to collapse of the directory structure within `/src`:

[code]

Now, let's suppose I have a gapps project:

[code]

With the new

[2017-02-07 23:26] oshliaer commented on #52
Is a google apps feature? The script project is simple. It don't need packages. I'm using npm scrips for this.

*Just my ¢50*

[2017-02-10 17:38] danielezappala opened #53 "Trouble with gapps auth"
Hi! sorry cause I'm real beginner with node, npm and so on
I tried to auth a project both on Windows and Mac. On windows no problem, on mac instead I have a command not found when I launch gapps auth ~/Downloads/client_secret.json, I tried also with sudo but nothing to do I always obtain -bash: gapps: command not found
Could you help me please ?

[2017-02-15 16:37] shrugs commented on #53
Seems like the command isn't in your `PATH` environment variable, so your shell can't find it. How did you install node and `node-google-apps-script`? Are you using a node version manager like `nvm`?

[2017-02-15 16:40] shrugs commented on #52
I initially wanted to pursue something like this but avoided it due to the additional complexity. I think this is a feature worth adding if it's opt-in like you desribed; the primary issue is that the "directory separator" can't be used in the filename at all, so something like `_` would probably run into issues if people aren't aware of that restriction.

perhaps something that would never occur

[2017-02-15 16:42] shrugs commented on #44
Hmm, good catch, that's a poor design decision. I think a PR propagating the errors to the top level would be really valuable.

[2017-02-19 01:12] omarkj commented on #33
Related to the general clarification of bounded v. standalone scripts.

Is it possible to provide access to custom functions in Sheets from a standalone script (that has been bound to a Sheet, for instance using `Test as`?). I am having no luck doing so.

[2017-03-11 06:18] brainysmurf commented on #27
I am using this tool to maintain a potentially large code base as well, and I have to agree with c-j-s.

The stack we are using is quite unique. In other environments, our local stack can be assumed to work exactly like the remote one (with important caveats). But with Google, if something isn't working right with different calls to Google's API, it just makes a whole lot of sense to modify the co

[2017-03-26 23:07] techjeffharris commented on #52
I have no opinions on the separator, other than agreeing that `_` is likely not the best default due to its already ubiquitous use in filenames.

Also, I still haven't taken any look at the code, sorry..  hopefully soon?  ¯\_(ツ)_/¯

[2017-04-23 07:36] brainysmurf opened #56 ""Bad request" issue when uploading: Use of reserved words as object properties"
In node, the following js does not result in any errors:

"""js
obj = {};
obj.const = {};
"""

"""js
obj = {};
obj.function = {};
"""

However, in App Script it does. Line 2 in both examples would generate error "Missing name after . operator" in apps script online editor. Nor is this detected in any linters.

Documenting for reference; the problem really isn't with this package. Hopefully documen

[2017-05-04 14:59] AledLewis opened #57 "gapps auth command will fail and not show error if call to Oauth.getToken fails"
Essentially, I think there's a missing else block around the
` credentials.refresh_token = tokens.refresh_token;
 resolve(credentials);`
At auth.js:90.
This masks any issues with communicating with Google (in my case there was a proxy issue). I believe this issue occurs in other places in the project (I deleted my auth and re-authed as I was getting errors running upload/push.

[2017-05-04 15:00] AledLewis commented on #57
Happy to write and submit a PR.

[2017-06-21 14:21] vikdet opened #58 "gapps init throws error if there is .json manifest file in the project"
Because of Gmail add-ons project has appsmanifest.json file I faced with the following issue:

1. Create an empty Gmail add-ons project.
2. Click View -> Show manifest file
3. execute gapps init 'project_id'
4. See an error:
`Error running init command
Unhandled rejection Error: Unsupported file type found
    at Object.getFileExtension (/home/vitalybevzik/.nvm/versions/node/v5.12.0/lib/node_modul

[2017-06-29 03:46] #49 closed

[2017-06-29 13:20] vikdet commented on #58
MR to resolve this https://github.com/danthareja/node-google-apps-script/pull/59/files

[2017-07-06 07:13] sunfmin opened #60 "Internal Error when push"
[code]

Is it possible to know what is the internal error?

[2017-07-06 15:53] oshliaer commented on #60
Wait for a while and try again.

[2017-07-10 09:24] climateamante commented on #56
The following file names trigger a similar error:
-  ``debug.html``
- ``debug.js``

Able to upload and sync back up with Google Drive using ``node-google-apps-script`` once renamed.

old name: ``debug.html`` | ``debug.js``
new name: ``template.debug.html`` | ``app.debug.js``

[2017-07-10 12:53] oshliaer commented on #56
It's not the current app. The best way is to check files names and code in the native IDE
![screenshot from 2017-07-10 15-51-42](https://user-images.githubusercontent.com/5027939/28018926-bfee0f08-6587-11e7-86b9-e3fff558efdf.png)

[2017-07-11 06:43] tonyOreglia opened #61 "Push Fails on standalone Script in Team Drive"
gapps push
Pushing back up to Google Drive...
An error occured while running upload command: File not found: 1FYwO4nDv9vC8t9X8S3qpya3QFhbqehM_wYcJlpuGaV1EjewaNCMdx6-e
Upload failed.

All worked well until I moved the script into a team drive. I notice that the Drive API has a property called 'supportsTeamDrives' for update and get calls. Is it possible that this property is required in the update

[2017-07-11 06:46] tonyOreglia commented on #61
Note that the push to succeeds if I just move the script back to my Drive. We need it in a Team Drive for publication purposes.

[2017-07-11 07:08] tonyOreglia commented on #61
* https://developers.google.com/drive/v3/web/enable-teamdrives  : “If your application isn't affected by the behavioral differences, then you only need to include thesupportsTeamDrives=true query parameter in requests. This is an acknowledgement that the application is aware of behavioral differences of files contained in Team Drives.”

[2017-07-26 23:43] vietnogi commented on #58
Currently, gapps will delete .json files on google drive.  I think this fix will also prevent said problem.

[2017-07-29 12:07] oshliaer commented on #29
Thanks @jruusu!

[2017-07-29 12:07] #29 closed

[2017-08-01 21:40] julesmoretti opened #63 "How to run Google Apps Script projects on my local machine?"
NEED:
The ability to run google scripts that is currently written for google spreadsheets but on my local machine rather than through the web interface.

EXPECTATION:
Using node-google-apps-script I can edit my scripts locally using Sublime text editor, test them locally and then push those online through Google script API integration.

PROBLEM:
The readme information is missing some steps for exa

[2017-08-02 06:03] oshliaer commented on #63
I'm not sure that It's possible to do your tasks with [ngas](./../). Try something else like [gas-local](https://github.com/mzagorny/gas-local) or [ggsrun](https://github.com/tanaikech/ggsrun)

[2017-08-04 08:59] alexwforsythe opened #64 "Can't initialize project"
1. `node -v`: `v0.12.18`
2. `npm -v`: `2.15.11`
3. `npm install -g node-google-apps-script`
4. `gapps init ${fileId}`:

[code]

Am I doing something wrong?

[2017-08-25 10:04] ihommani opened #65 "Referencing several OAuth2 clients?"
Hi,
When launching an authentication step with an already existing .gapps folder, we get a message with the impossibility to finish the authentication.
That means that to push several appscript projects, it needs to belong to the same Google project.
Do we plan to allow several authentications to allow a push on several projects (a prompt being displayed if we need to choose which project we have

[2017-09-14 16:05] Perseus101 commented on #61
I'm having this same issue. Any updates?

[2017-09-20 07:58] AdrienLemaire commented on #61
Similar issue here

[2017-09-20 08:02] Fandekasp opened #66 "Cannot push with non-standalone file"
I have a script bound to a spreadsheet file, and I was able to `gapps init id` using the script id from the Project properties. It downloaded my files without any problems.

On the other side, when trying to `gapps push`, it returns the `File not found` error. Is that why you recommended to only use standalone scripts ? I'm a newbie with google scripts, what would then be the good practice to acce

[2017-09-20 09:17] oshliaer commented on #66
You can't edit bound scripts.

The best way for me is create a trigger programmatically https://developers.google.com/apps-script/guides/triggers/installable#managing_triggers_programmatically

[code]

[2017-10-10 20:13] kc1 opened #68 "Is it supported by latest node?"
Hi,

I've just come across this, (Thanks for making it!), but I'm wondering if the current version of node supports it? https://nodejs.org/en/

[2017-10-10 20:25] oshliaer commented on #68
@kc1 This is my console now
[code]
The gapps works fine.

[2017-10-12 16:28] kc1 commented on #68
Thanks

[2017-10-12 16:28] #68 closed

[2017-10-26 10:03] aymericbouzy opened #69 "Installation fails with yarn global"
I ran `yarn global add node-google-apps-script`
and got in return
[code]

[2017-10-26 10:04] aymericbouzy commented on #69
running `npm install -g node-google-apps-script` succeeds.

[2017-10-26 10:04] #69 closed

[2017-10-27 13:03] asadmkhan commented on #32
Hi !

@lastobelus @oshliaer @peterherrmann @hess-g @gunar @sbgood

 **I have a google sheet containing script, I want to execute this script programmatically for any user (public). Can I perform  "Publish>Deploy as API executable" programmatically?**

[2017-10-27 13:04] asadmkhan opened #70 "Can I perform "Publish>Deploy as API executable" programmatically using c#/.Net?"
I have a google sheet containing script, I want to execute this script programmatically for any user (public). Can I perform  "Publish>Deploy as API executable" programmatically?

@lastobelus @oshliaer @peterherrmann @hess-g @gunar @sbgood

[2017-10-27 15:00] oshliaer commented on #70
@asadmkhan , it's impossible.

[2017-10-27 15:03] oshliaer commented on #32
Hi @asadmkhan

It's not possible.

[2017-10-29 02:09] peterherrmann commented on #70
Add a doGet() function to the apps script and deploy as web app. See the
docs https://developers.google.com/apps-script/guides/html/

On Sat, 28 Oct 2017 at 1:00 am, Alexander Ivanov <notifications@github.com>
wrote:

[2017-10-30 07:41] asadmkhan commented on #70
@peterherrmann  i want to deploy as Executable API

[2017-11-03 14:03] rakeshjoezoo opened #71 "appsscript.json (just introduced by Google) not supported. I've made a fix"
Google in the last 10 days has introduced a way to customize Authorization scopes for a GAS project. Your super useful (and critical to us - thank you) npm package does not support the file it uses - appsscript.json
More information at:
 https://developers.google.com/apps-script/concepts/scopes

Our team has a patch so that your upload and init processes accept .json files. We will submit a pull r

[2017-11-03 22:57] rakeshjoezoo commented on #71
This fix may need to get stricter to allow only "appsscript.json" and not any other json files.

[2017-11-24 10:53] lricoy commented on #71
I've been using the fork and it works fine.

[2017-11-28 17:03] lricoy commented on #71
Fixed by #73

[2017-11-28 17:03] #71 closed

[2017-11-29 08:32] oshliaer opened #74 "I just found out that the project again takes PRs!"
God keep you @lricoy!

[2017-11-29 09:16] lricoy commented on #74
Thanks @oshliaer 🎉

[2017-11-29 09:53] #74 closed

[2017-11-29 09:55] lricoy commented on #66
Hey @Fandekasp . Did that solution work for you? I will close this but please reopen if needed.

[2017-11-29 09:55] #66 closed

[2017-11-29 10:00] lricoy commented on #64
Hey @alexwforsythe  Would a newer node version work for you? (maybe `lts/carbon - v8.9.1`?) I am aware that the requirements on the README says node `v0.12.x` is a requirement but hopefully we will be able to upgrade it soon.  Will close this one but please reopen if needed

[2017-11-29 10:00] #64 closed

[2017-11-29 10:24] lricoy commented on #61
Hi. Could you try forking the repo and adding `supportsTeamDrives : true` to the options object on the `sendToGoogle` function and checking that it would solve the issue?

https://github.com/danthareja/node-google-apps-script/blob/master/lib/commands/upload.js#L43

[2017-11-29 10:26] lricoy commented on #70
I am also not sure that this is possible. Any more thoughts on that @oshliaer ?

[2017-11-29 10:27] lricoy commented on #60
I got this once and it worked after waiting for a while as well. Closing this but please reopen if it keeps happening @sunfmin

[2017-11-29 10:27] #60 closed

[2017-11-29 10:28] lricoy commented on #58
Fixed by #73

[2017-11-29 10:28] #58 closed

[2017-11-29 10:30] lricoy commented on #57
Hi @AledLewis PRs are welcome if you could provide more specific steps to reproduce I could try this as well.

[2017-11-29 10:34] lricoy commented on #53
Hi @danielezappala Did it work for you at the end? I agree with @Shrugs looks like the command is not in your `PATH`. I will close this but please reopen if you are still having issues with `gapps`

[2017-11-29 10:34] #53 closed

[2017-11-29 10:41] lricoy commented on #50
I think we could create some more checks and little by little start adding more advanced ones. From what I can tell the upload command knows little about the reasons of why it the fails but by adding those kinds of pre-checks we could pinpoint it a little better. Or maybe to not delay the push, run then only after the fail if they take too long. What do you guys think?

[2017-11-29 10:44] lricoy commented on #32
HI. Any updates on this? I've followed the links but it seems everything is still on the same page

[2017-11-29 10:50] lricoy commented on #63
Hi @julesmoretti have you tried @oshliaer's suggestions?

[2017-11-29 11:27] lricoy commented on #61
Sorry @tonyOreglia . I am only seeing the PR now.

[2017-11-29 17:13] danthareja commented on #74
@lricoy reached out and has been a *massive* help!

[2017-11-30 15:07] AledLewis commented on #57
(couldn't reproduce, this is from memory).

Symptom was `Uncaught TypeError: Cannot read property 'refresh_token' of undefined`

It was some interaction with my proxy on `gapps auth` that caused getToken to fail. It looks like execution continues to attempt to write to credentials with a probably-undefined tokens object. This then causes the promise to exit and mask the reject (I guess).

Here's a

[2017-12-01 02:11] julesmoretti commented on #63
@lricoy I have not sorry
@oshliaer thank you for the recommendations ggsrun looks promising :)

[2017-12-08 02:46] aurelienshz commented on #70
AFAIK, performing Publish > Deploy as API executable allows you to run the script through Google's [Execution API](https://developers.google.com/apps-script/guides/rest/api).

You might be interested in [Triggers](https://developers.google.com/apps-script/guides/triggers/), that allow you to "run a function automatically when a certain event, like opening a document, occurs" (I'm not sure if that'

[2017-12-08 02:55] aurelienshz commented on #65
More precisely, the account with which you are logged in must have write permission on the Google Script project to which you want to push.

We are talking about two conceptually different features here : one is the ability to authenticate with different accounts, and the other is to be able to push to different projects. I feel like the "pushing to several different projects" feature is more need

[2017-12-08 03:01] #63 closed

[2017-12-08 03:04] aurelienshz commented on #63
I feel like this falls out of scope of this tool, and [gas-local](https://github.com/mzagorny/gas-local) README explicitely advises to use gapps to push/pull the project to/from Google Drive. I'm closing this issue, since it seems irrelevant to this project.

[2017-12-08 14:42] ihommani commented on #65
Yes, you totally get it.
Thx!

[2017-12-15 01:10] aurelienshz opened #79 "Obscure error when authenticated with an account that doesn't have permission on the Script project"
When authenticated with an account that doesn't have write permission on the target script project, the output to `npm run upload` is the following :
[code]

This error message seems misleading, because the id of the project is correct! What's wrong is that I'm authenticated with the wrong account.

A potential "fix" (improvement) could be:
* detecting if the problem has occured when reading the S

[2017-12-27 11:54] lricoy opened #81 "Add initial tests"
I think we sould add a few unit tests and hopefully some functional as well.

Since we've bumped the node version requirement to 8+ we have more test library options now. I would rather add the tests before start refactoring the code.

Any tips on where to start @danthareja @aurelienshz ?

[2017-12-27 16:18] danthareja commented on #81
I definitely agree with your decision to write tests before starting to refactor. Once we get some test coverage, i'll publish a major version bump.

I think a good place to start is to test the functionality of each exported command inside of `lib/commands`. If we stick to testing the public interface, we will have more flexibility to refactor the internals, and also have some confidence that we'

[2018-01-07 16:00] #81 closed

[2018-01-07 16:01] lricoy commented on #70
Closing because since it looks idle.

[2018-01-07 16:01] #70 closed

[2018-01-07 16:02] lricoy commented on #32
Closing as it looks idle. Please reopen if interested again.

[2018-01-07 16:03] lricoy commented on #36
Closing since it looks idle. Please reopen if still an issue.

[2018-01-07 16:03] #36 closed

[2018-01-07 16:03] lricoy commented on #30
Working on that :)

[2018-01-07 16:03] #30 closed

[2018-01-08 07:39] gunar commented on #32
@lricoy yes, we are all very much interested still!

[2018-01-08 07:39] gunar commented on #70
@lricoy yes, we are all very much interested still!

[2018-01-08 09:35] lricoy commented on #70
Hey @gunar good to know 😃
Will leave it close and keep tabs on #32

[2018-02-26 13:10] lricoy opened #86 "Review CLASP"
It appears that Google has been busy and will now offer the possibility to develop app scripts locally, see versions, automatically deploy, etc... They have launched it on January 11th without much noise.

We should review it and ideally put a notice on the README about it

https://developers.google.com/apps-script/guides/clasp
https://github.com/google/clasp

[2018-02-26 13:10] lricoy commented on #86
@danthareja @aurelienshz if you guys could also take a quick look it would be awesome :)

[2018-02-26 18:08] danthareja commented on #86
Do either of you you see any reason for this project to co-exist with clasp?

[2018-02-27 12:45] lricoy commented on #86
Not really. Since the other one is open source as well I think we should give it priority. I have not tried it yet though.

[2018-02-27 15:39] JeanRemiDelteil commented on #86
Hello guys, here is my experience:

I've used gapps for some years now, to work with our addons projects.
Then came this AppsScript API release and along with it the clasp CLI.

It basically does the same thing than gapps, though rely on the new GAS API, which does pretty much everything we ever wanted to do with GAS files (and container bound file).

They already have added all the basic stuff, f

[2018-02-27 18:50] danthareja commented on #86
Thanks for sharing your experience, @JeanRemiDelteil.

Since the tool is officially supported by Google, I think we can safely deprecate this project.

I'll leave this issue open for another week to solicit other opinions. If there's no strong support to keep this project alive, I'll release a final version and post a deprecation notice on the README.

[2018-02-28 19:49] hess-g commented on #86
It is hard to believe that I wrote this article over two years ago -
https://developers.googleblog.com/2015/12/advanced-
development-process-with-apps.html. In the following year, as I continued
consulting with the Apps Script team, I got to be involved with some of the
work that became the new Apps Script API, and wrote an early internal
version of what is now clasp - a way more streamlined and e

[2018-03-09 01:57] aurelienshz commented on #86
I finally had time to try out clasp. My opinion is that the way node-google-apps-script is designed is a little bit better, in the sense that it targets a directory instead of using the contents of the current directory. On the project I'm working on, we currently can't live without this, because we are using Gulp to perform a few build steps, and then upload the contents of the build result direc

[2018-03-09 05:21] jondcallahan commented on #86
Great write up on the pros and cons, one note: you can specify a directory containing files to be uploaded with clasp using the rootDir option in the clasp config json file. Similar to you, my project has some build steps which outputs to a dist directory so I opened a PR on clasp to support that. It was merged in a few weeks ago.

[2018-03-09 06:29] aurelienshz commented on #86
Thanks for the heads up! Guess I haven't been reviewing clasp thoroughly enough. It's definitely a viable option then.

[2018-03-09 23:37] grant commented on #86
Hey all,
I feel like this thread has many of the top Apps Script contributors. Thank you for contributing to the Apps Script ecosystem! ❤️ ⭐️

I pick up the reins of @hess-g's work and developed `clasp` at Google and am working on a better developer experience in general for Apps Script with G Suite add-on teams.

There's definitely a lot of ideas around creating a better developer experience in A

[2018-03-11 02:09] danthareja commented on #86
Given the discussion here, I'm now confident that the right move is to deprecate this project in favor of clasp.

Thank you @hess-g and @Shrugs for making this project what it was, @lricoy and @aurelienshz for supporting this project during it's final days, and @grant for offering to continue working with the community built around this project.

I'm glad the wheel of time is rotating strong this

[2018-06-18 18:58] oshliaer commented on #86
It was great!

[2018-06-21 15:56] #86 closed

[2020-04-30 07:55] robertocabellon commented on #63
Even though this issue is old and already closed, this info may help future internauts, that reach this forever-valid question!
You may try [Google's clasp](https://github.com/google/clasp). This may be the tool you were looking for..